.title {
    font-size: xx-large;
    vertical-align: middle;
    padding-top: 20px;
    margin-bottom: 15px;
    padding-left: 10px;
}

.description {
    font-size: large;
    vertical-align: middle;
    padding-top: 20px;
    margin-bottom: 15px;
    padding-left: 10px;
}
